/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: rgb(57, 150, 250);
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
  padding-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

main {
  background-color: #f9f9f9;
}

main p {
  font-size: 1.1rem;
}

.main-content-section {
  padding-top: 40px;
  padding-bottom: 60px;
}

.location-image {
  width: 100%;
}

/* styles.css */
/* ... Existing CSS rules ... */

.site-header {
  background-color: #3593f8;
}

.site-header img {
  height: 40px;
}

.site-header .navbar {
  justify-content: space-between;
}

.site-header .navbar-nav .nav-item {
  margin-left: 15px;
}

.site-header .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.site-header .navbar-nav .nav-link {
  color: #fff;
}

.site-header .navbar-nav .nav-link:hover,
.site-header .navbar-nav .nav-link:focus {
  color: #fff;
  border-bottom: 2px solid #fff;
}

input[type="email"] {
  border: 1px solid #ccc;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  border-radius: 6px;
  font-size: 1rem;
  padding: 12px 20px;
  background-color: #007BFF;
  border: none;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.service-description-section {
  margin-top: 40px;
}

.service-description-section h2 {
  color: #007BFF;
}

.service-description-section p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.service-description-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.service-description-section li {
  font-size: 1.1rem;
  line-height: 1.6;
}

.footer-section {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-section p {
  font-size: 1rem;
}

/* styles.css */
/* ... Existing CSS rules ... */

/* styles.css */
/* ... Existing CSS rules ... */

#value-proposition {
  position: relative;
  padding: 30px;
  background-image: url("images/earth.jpg"); /* Set the background image */
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 150, 252, 0.7); /* Light blue color overlay with opacity */
}

#value-proposition > .col-md-5 {
  background-color: rgba(255, 255, 255, 1); /* White background for the text container with opacity */
  padding: 20px;
  z-index: 1;
  margin: 3%;
}

#title:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}

#title {
  font-size: 2rem;
  position: relative;
}
